
body{
    margin-top: 0%;
}
.container{
    margin-left: 0%;
    margin-right: 0%;
    height: 80px;
    background-color: rgb(42, 125, 209);
    background-image:url(/img/pattern.png);
    background-size: 18%;
}
#h1{
    font-size: 290%;
    margin-bottom: 0%;
}
.img{
height: 60px;
text-align: center;
}
#p{
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(92, 92, 92);
    float:left; display:block;
}
#p2{
    color: rgb(29, 181, 201);
    
}
.titolo{
    margin-bottom: 0%;
}
#table{
    border-collapse: collapse;
  width: 100%;
}
#table tr:nth-child(even){
  background-color: #659fb5;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1c2eb9;
    color: rgb(214, 185, 185);
  }
  #table td{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .contenitore{
    padding-top: 1%;
    padding-bottom: 0.5%;
  }
  .foto{
    background-image: url(./img/monitor.jpg);
  }
  .foto{
    font-size: 120%;
    color: aliceblue;
    height: 19vh;
    background-size:100%;
    background-image: url(./img/monitor.jpg);
    width: 13%;
  }

  .foto1{
    
    font-size: 120%;
    color: aliceblue;
    height: 19vh;
    background-size:100%;
    background-image: url(./img/graph.jpg);
    width: 13%;
  }

